doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet', type='text/css')
    style.
      footer { margin-top:100px }
  body
    .title-bar(data-responsive-toggle='realEstateMenu', data-hide-for='small')
      button.menu-icon(type='button', data-toggle='')
      .title-bar-title Menu
    #realEstateMenu.top-bar
      .top-bar-left
        ul.menu(data-responsive-menu='accordion')
          li.menu-text Pure Anonymous Feedback
      .top-bar-right
        ul.menu
          li
            a(href='#') Welcome Anonymous
          li
            button.button(data-open="new-user") New here? Click this!
    br
    .row
      .medium-12.columns
        form
          label
            | Enter PMF Key to whom you want to send feedback
          .medium-2.cell
            input(type='text', placeholder='[a-z]{3}\\d{2}')
          label
            | Feedback
            textarea(placeholder='Please be responsible on your feedbacks!')
            center
              button.button(type='submit') Submit
    .row.column
      hr
    .row.column
      p.lead Feedbacks for you
    .row
      .medium-12.columns
        .callout
          p This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, This is a sample feedback text 1, 
        .callout
          p This is a sample feedback text 2
        .callout
          p This is a sample feedback text 3
        .callout
          p This is a sample feedback text 4
    #new-user.tiny.reveal(data-reveal="")
      p This is sample
    footer
      .row
        .medium-6.columns
          ul.menu
        .medium-6.columns
          ul.menu.float-right
            li
              a(href-'#') Wonder how pure anonymous? Click this!
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js")
    script.
        $(document).foundation();
